html,
body {
    margin: 0;
    padding: 0;
    font-family: "Roboto";
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
p,
a,
span,
div,
input {
    margin: 0;
    padding: 0;
    border: none;
    font-weight: 400;
    font-family: "Tahoma";
    font-size: 14px;
    color: #000;
    list-style: none;
    text-decoration: none;
}